div {
  padding: 20px;
}

ul {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

li {
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 16px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  border-left: 5px solid #c4a7d4;
}

li {
  font-size: 16px;
  color: #333;
}